// Specific CSS for your home-page
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-about {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 800px;
  padding: 16px;
  height: auto;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.paragraph p {
  text-align: justify;
  text-justify: inter-word;
}

.card-about .photo {
  width: 200px;
}

.description h3 {
  margin: 8px 0 0 0;
  padding: 0;
}

.description p {
  margin: 0;
  padding: 0;
}

.assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.assets p {
  text-align: justify;
  text-justify: inter-word;
}
.links-social ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  padding-left: 0;
  margin-top: 16px;
}

.top-btn svg {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

a.top-btn {
  color: green !important;
}

a.top-btn:hover {
  color: rgb(126, 174, 126) !important;
}

#cv {
  width: 400px;
}

#caroussel {
  width: 800px;
  height: 300px;
}

.last-parag {
  margin: 0;
}
