// Specific CSS for your home-page
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $beige;
}

h2 {
  color: $blue;
  font-weight: bold;
  font-size: 32px;
}

h3 {
  color: $blue;
  font-weight: bold;
  font-size: 24px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100vh;
}

.banner-between {
  background-color: $blue;
  color: white;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding: 16px;
}

.banner-between h2{
  color: white;
}

.card-about {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 750px;
  padding: 16px;
  height: auto;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.paragraph p {
  text-align: justify;
  text-justify: inter-word;
}

.card-about .photo {
  height: 446px;
}

.description h3 {
  margin: 8px 0 0 0;
  padding: 0;
}

.description p {
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}

.border {
  margin-top: 16px;
  width: 100%;
  border: 8px solid $blue !important;
}

.assets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.skills i.fa-brands, .skills i.fa-solid {
  width: 16px;
}

.column-skill {
  width: 45%;
  padding: 16px;
  border: 2px solid $blue;
  border-radius: 8px;
  height: 100%;
}

.assets p {
  text-align: justify;
  text-justify: inter-word;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-btn svg {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}

a.top-btn {
  color: $blue !important;
}

a.top-btn:hover {
  color: $light-blue !important;
}

.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#cv {
  width: 400px;
}

#caroussel{
  width: 100%;
  height: 300px;
}

.last-parag {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .card-about {
    width: 320px;
  }

  .presentation {
    align-items: center;
    flex-direction: column;
  }

  .skills {
    flex-direction: column;
  }

  .assets {
    flex-direction: column;
    gap: 16px;
  }

  .column-skill {
    width: 100%;
  }

  .banner-between {
    height: 100%;
  }

  #cv {
    width: 250px;
  }
}
