<div class="footer">
  <div class="links-social">
  <h3>Liens réseaux</h3>
      <ul>
        <div class="logo-social">
          <%= link_to "https://github.com/KevRo69", target: "_blank" do %>
            <li><i class="fa-brands fa-square-github fa-2xl"></i></li>
          <% end %>
        </div>
        <div class="logo-social">
          <%= link_to "https://www.linkedin.com/in/k%C3%A9vin-rossi-539a72150/", target: "_blank" do %>
            <li><i class="fa-brands fa-linkedin fa-2xl"></i></li>
          <% end %>
        </div>
      </ul>
    </div>
  <p>© Copyright 2024 Kévin Rossi</p>
  <p class="last-parag">Site réalisé avec Ruby on Rails</p>
</div>
