<div class="projects">
      <div class="caroussel">
        <%= image_tag "carousel/bestunited1.jpg", alt: "Caroussel", id: "caroussel" %>
      </div>
      <div class="description">
        <h3>Best United</h3>
        <%= link_to "http://www.bestunited.me" do %>
          <i class="fa-solid fa-link"></i> Lien (App mobile)
        <% end %>
        <p>Plateforme de vente de sneakers pour encourager le commerce local.</p>
        <p>Gestion des stocks pour les commerçants avec scan de code-barre.</p>
        <p>Août 2024</p>
      </div>
