<div class="main-container">
  <div class="about">
    <h2>À propos de moi</h2>
    <div class="presentation">
      <div class="paragraph">
        <p>Je m'appelle Kévin Rossi, je suis développeur web full-stack. J'ai réalisé ce site avec Ruby on Rails.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
      </div>
      <%= image_tag "photo_profile.jpg", alt: "Photo profil", class: "photo" %>
    </div>
  </div>

  <div class="skills">
    <h2>Compétences</h2>
    <div class="presentation">
      <div class="cv">
        <%= image_tag "CV.jpg", alt: "CV", class: "photo" %>
      </div>
      <div class="paragraph">
        <p>Je m'appelle Kévin Rossi, je suis développeur web full-stack. J'ai réalisé ce site avec Ruby on Rails.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
      </div>
    </div>
  </div>

</div>
