<div class="main-container">
  <div class="card-about">
    <h2>À propos de moi</h2>
    <div class="presentation">
      <div class="paragraph">
        <p>Je m'appelle Kévin Rossi, je suis développeur web full-stack. J'ai réalisé ce site avec Ruby on Rails.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
      </div>
      <%= image_tag "photo_profile.jpg", alt: "Photo profil", class: "photo" %>
    </div>
  </div>

  <div class="card-about">
    <h2>Compétences</h2>
    <div class="presentation">
      <div class="cv">
        <%= image_tag "CV.jpg", alt: "CV", id: "cv" %>
      </div>
      <div class="assets">
        <h3>Atouts</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet!</li>
          <li>Lorem ipsum dolor sit amet!</li>
          <li>Lorem ipsum dolor sit amet!</li>
        </ul>

        <h3>Développement Web</h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>HTML/CSS/Javascript</li>
          <li>PostgreSQL</li>
        </ul>

        <h3>Pourquoi moi ?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem sint, quidem dolore deleniti officiis veniam quasi ratione officia excepturi voluptates sit sequi quaerat nulla distinctio ipsa nihil quam voluptate impedit.</p>
      </div>
    </div>
  </div>

  <div class="card-about">
    <h2>Réalisations</h2>
    <div class="caroussel">
      <%= image_tag "photo_profile.jpg", alt: "Caroussel", id: "caroussel" %>
    </div>
    <div class="description">
      <h3>Best United</h3>
        <p>Plateforme de vente de sneakers pour encourager le commerce local.</p>
        <p>Gestion des stocks pour les commerçants.</p>
        <p>Août 2024</p>
    </div>
  </div>

</div>
