a {
  text-decoration: none;
  color: $blue;
}

a:hover {
  color: $light-blue;
}

li {
  list-style-type: none;
}

.fa-brands {
  color: $blue;
}

.fa-brands:hover {
  color: $light-blue;
}

abbr {
  text-decoration: none !important;
}

body, html {
  overflow-x: hidden; /* To prevent horizontal scrolling */
  overflow-y: auto; /* Ensure vertical scrolling is enabled */
}
