// .dropdown-form {
//   display: inline-block;
//   margin: 0;
// }

// .dropdown-form button {
//   background-color: #007bff;
//   color: white;
//   padding: 10px 15px;
//   border: none;
//   cursor: pointer;
//   border-radius: 5px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .size-6 {
//   width: 24px;
//   height: 24px;
// }

// .dropdown {
//   position: relative;
//   display: inline-block;
// }

.dropdown-content {
  display:flex;
  flex-direction: row;
  gap: 32px;
  margin: 0;
  }

// .dropdown-content li {
//   padding: 8px 12px;
//   text-align: left;
// }

.dropdown-content li a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  color: $beige;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .dropdown-content {
    gap: 8px;
    padding:4px;
  }
}
